{% extends 'picture_base.html' %}

{% load static %}

{% block main %}
    <div id="temp_data" data-start="10" data-flag="1" hidden> </div>
    <div id="picture-index " class="clearfix">

        <ul id="image-wall" >
            {% for image in image_list %}
                <li class="image-line clearfix">
                    <img src="{{ image.thumbnail }}" alt="" rsrc="{{ image.img }}">
                </li>
            {% endfor %}

        </ul>
    </div>
    <div id="image_plat">
    <span class="image_desc">{{ image.desc | truncatechars:120 }}</span>

    </div>
{% endblock %}

{% block picture-js %}
    <script src="{% static 'js/picture.js' %}"></script>

{% endblock %}
