{% extends 'picture_base.html' %}

{% block main-left %}
    <div id="picture-index">

        <ul id="image-menu">
            {% for image in image_list %}
                <li class="image-line">
                    <a href=""><img style="width: 100px;" src="/media/{{ image.image__img }}" alt=""></a>
                </li>
            {% endfor %}

        </ul>

    </div>
    <span id="chen"></span>
{% endblock %}


{% block main-right %}
    <div id="page">
        {% if page_obj %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
            {% endif %}

            第{{ page_obj.number }}页 共{{ paginator.num_pages }}页

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">下一页</a>
            {% endif %}
        {% endif %}
    </div>

{% endblock %}

{% block picture-js %}

{% endblock %}
