{% extends 'article_base.html' %}


{% block title %}
    详情页:{{ article.title }}
{% endblock %}


{% load static %}

{% block article-css %}
    <link rel="stylesheet" href="{% static 'css/googlecode.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
{% endblock %}



{% block main-center %}

    <div id="contentSidebar">
        <p id="ctt-head">CONTENTS<i class="fa fa-times" aria-hidden="true"></i></p>
        <div id="ctt-body"></div>
    </div>

    <div id="bottom-tool">
    <div id="toTop"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
    <div id="showContent"><i class="fa fa-list" aria-hidden="true"></i></div>
    <div id="sendEmail"><a href="mailto:931976722@qq.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></div>
    </div>


    <div id="article-detail">

        <div id="article-title">
            {{ article.title }}
        </div>

        <div id="article-decoration">

            <div id="cookies">
                <span class="tip c-black b-white">原创</span>
                <span class="tip c-black b-white">分类</span><span
                    class="tip b-error c-white">{{ article.category }}</span>
                <span class="tip c-black b-white">发布</span><span
                    class="tip b-info c-white">{{ article.create_time }}</span>
                <span class="tip c-black b-white">阅读</span><span
                    class="tip b-warning c-white">{{ article.visit }}</span>

            </div>
            <div id="tag" class="float-r">
                <span class="tip b-info">Tags</span> <i></i>

                {% for t in tag %}
                    <span class="tag-elem">{{ t }}</span> <i></i>
                {% endfor %}

            </div>

        </div>

        <div id="article-text" class="para">
            {{ article.content_html | safe }}

        </div>

    </div>
    <div id="new_comment">


            <textarea name="comment" id="comment-text" placeholder="@评论："></textarea>
            <p id="add_cmt_bar">
                <span class="post-btn">发表</span>
                <span>word</span>:<span>0</span>
            </p>
        </div>

    <div id="comment">
        {% if comment %}
            {% for k, v in comment.items %}
                <p>{{ k }}{{ v.0 }}{{ v.1 }}</p>

            {% endfor %}
        {% endif %}


        </div>

{% endblock %}

{% block article-js %}
    <script src="{% static 'js/highlight.min.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}



