<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/base.css' %}">


    {% block css %}

    {% endblock %}

</head>
<body>

<div id='menu'>
    <ul>
        <li><a href='{% url 'home:home' %}'>Home</a></li>
        <li><a href='{% url 'picture:album' %}'>Picture</a></li>
        <li class='has-sub'><a href='{% url 'life:book_list' %}'>Life</a>
            <ul>
                <li><a href='{% url 'life:book_list' %}'>Book</a></li>
                <li><a href='{% url 'life:note_list' %}'>Note</a></li>
                <li><a href='{% url 'life:perception_list' %}'>Perception</a></li>
                <li><a href='{% url 'life:cook_list' %}'>Cook</a></li>
            </ul>
        </li>

        <li class='has-sub'><a href='{% url 'article:article' %}'>Article</a>


            <ul>


                <li class='has-sub'><a href="#">Category</a>
                    <ul>
                        {% for category in category_list %}
                            <li><a href='{% url 'article:category' category.id %}'>{{ category.name }}</a></li>
                        {% endfor %}

                    </ul>
                </li>
                <li class='has-sub'><a href="#">Tag</a>
                    <ul>
                        {% for tag in tag_list %}
                            <li><a href="{% url 'article:tag' tag.id %}">{{ tag.name }}</a></li>
                        {% endfor %}

                    </ul>
                </li>


            </ul>
        </li>

        <li class='has-sub'><a href=''>Archive</a>
            <ul>
                {% for year, months in date_merge.items %}

                    <li class='has-sub'><a href="{% url 'article:archive' year 0 %}">{{ year }}年</a>
                        <ul>
                            {% for month in months %}
                                <li><a href="{% url 'article:archive' year month %}">{{ month }} 月</a></li>
                            {% endfor %}
                        </ul>
                    </li>



                {% endfor %}
            </ul>
        </li>

        <li class='has-sub'><a href='{% url 'travel:travel' %}'>Travel</a>
            <ul>
                {% for province in province_list %}
                    <li class='has-sub'><a href='{% url 'travel:province' province.id %}'>{{ province.name }}</a>

                        <ul>
                            {% for city in province.city %}
                                <li><a href='{% url 'travel:city' province.id city.id %}'>{{ city.name }}</a></li>

                            {% endfor %}

                        </ul>


                    </li>

                {% endfor %}

            </ul>
        </li>


        <li><a href='{% url 'home:me' %}'>About me</a></li>
        <li><a href='/admin/'>Manager</a></li>
        <li><a href='https://github.com/blackmonkey121'>git</a></li>
        <li><a href="{% url 'rss' %}">RSS</a></li>
    </ul>
</div>

{% block main %}

{% endblock %}

<div id="background"></div>

<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/navbar.js' %}"></script>

{% block js %}

{% endblock %}

</body>
</html>